// Colors
$primary: #ef5b4c;
$primary-hovered: #d24335;
$secondary: #1b4a8a;
$base-bg: #ffffff;
$base-bg-darker: #f9f9f3;
$disabled: #d7d7d7;
$error: #f44336;


// Fonts colors
$text-black: #212529;
$text-grey: #4c4b4b;
$text-white: #fefefe;


// Typography
$font-size-h1-desktop: 50px;
$font-size-h1-tablet: 40px;
$font-size-h1-phone: 30px;

$line-height-h1-desktop: 54px;
$line-height-h1-tablet: 44px;
$line-height-h1-phone: 34px;

$font-size-h2: 24px;
$line-height-h2: 29px;

$font-size-paragraph: 16px;
$line-height-paragraph: 24px;


// Media sizes
$media: screen;
$feature-max: max-width;
$tablet: 768px;
$mobile: 360px;
