<div class="header-section">
  <div class="container">
    <div class="header-section-content">
      <h1>Test assignment for Frontend Developer position</h1>
      <p>We kindly remind you that your test assignment should be submitted as a link to github/bitbucket repository. <span>Please be patient, we consider and respond to every application that meets minimum requirements. We look forward to your submission. Good luck! The photo has to scale in the banner area on the different screens</span></p>
      <button class="sign_up_button" type="button"  SimpleSmoothScroll [scrollTo]="'register'" [duration]="500">
        Sign up now
      </button>
    </div>
  </div>
</div>

<!-- Reusable components of shared -->
<app-acquainted (goToRegisterEvent)="onGoToRegister()"></app-acquainted>
<app-cheerful-users [users]="users" (showMoreUsersEvent)="showMoreUsers()"></app-cheerful-users>
<app-register (formSubmit)="onSubmitForm()" id="register"></app-register>
